img {
    max-width: 100%;
    height: auto;
}

.banner-container {
    width: 100%;
    height: 250px;
    margin: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-image{
    background-image: url("../images/banner.png");
}

.section-content {
    height: 20rem;
}

.section-item {
    margin-bottom: 1rem;
}

.color-blue {
    color: #0957be; 
}

.color-blue-dark {
    color: #1F3F68; 
}

.color-blue-light {
    color: #356EAD; 
}

.transparent-1{
    opacity: 0.9;  
}
.transparent-2{
    opacity: 0.8;  
}
.transparent-3{
    opacity: 0.7;  
}

.icon-container {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-search{
    background-image: url("../icons/icon-search.png");
}

.icon-save{
    background-image: url("../icons/icon-save.png");
}

.icon-shared{
    background-image: url("../icons/icon-share.png");
}

.icon-prev{
    background-image: url("../icons/arrow-left.png");
}

.icon-next{
    background-image: url("../icons/arrow-right.png");
}

.border-bottom {
    border-bottom: solid;
    border-color: gray;  
    border-width: 1px;
}

.border-radius {
    border-radius: 0 8rem 0 0;
}